# Create a new file "config.env" in the same folder as this file and copy the content of this file to "config.env" and fill in the details

# Change port if already in use
PORT = 3000

# Your MongoDB url here (use mongod command)
DB = mongodb://localhost:27017


# Enter your cloudinary details here
CLOUDINARY_NAME = 
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =